* {
  margin: 0;
  padding: 0;
}
/* ******************** */
/* Nav Bar */
/* ******************** */
nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
nav ul li{
  list-style: none;
  display: inline;
  padding: 0 10px
}
left-nav {
}

right-nav {
}

.btn-menu {
  width: 15px;
}
.btn-signin {
  border-radius: 5px;
  background-color: #1a73e8;
  padding: 9px 23px;
  color: #fff;
  border: 0;
}
